# APP
APP_NAME=ez-php-webhook
APP_ENV=local
APP_DEBUG=true

# Uncomment and configure if this module requires MySQL:
# DB_HOST=db
# DB_HOST_PORT=3306
# DB_DATABASE=ez-php-webhook
# DB_USERNAME=ez-php-webhook
# DB_PASSWORD=ez-php-webhook
# DB_TESTING_DATABASE=ez-php-webhook_testing

# Uncomment and configure if this module requires Redis:
# REDIS_HOST=redis
# REDIS_PORT=6379

# Uncomment and configure if this module requires Meilisearch:
# MEILISEARCH_HOST=http://meilisearch:7700
# MEILISEARCH_KEY=
# MEILISEARCH_PORT=7700
